* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background: url(img.jpg) no-repeat center center / cover;
  color: white;
  font-weight: 900;
  overflow: hidden;
}
.loading-words h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 1px;
}

.timer h2 {
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5),
    0 0 10px rgba(0, 0, 0, 0.5);
}

.timer h3 {
  position: absolute;
  /* top: 100%; */
  margin-top: 20px;
  width: 100%;
  left: 0;
  color: #333;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  /* margin-top: 20px; */
  width: 100%;

  left: 0;
  letter-spacing: 2px;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5),
    0 0 10px rgba(0, 0, 0, 0.5);
}

/*=================
* TIMER
*=================*/
.timer {
  overflow: hidden;
  height: 100vh;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  left: 0;
  text-align: center;

  color: white;
}
.timer:after,
.timer:before {
  content: "";
  position: absolute;
  width: 4000px;
  height: 4000px;

  z-index: 100;
}

/* .timer:after {
  background: #333;
   
  top: 50%;
  margin-top: -2000px;
  margin-left: -1998px;
  left: 50%;
   
  transform: rotate(45deg);
  margin-right: -170px;
 
  transform-origin: top left;
  animation: slide_left 1s 0.5s ease;
  animation-fill-mode: forwards;
}
.timer:before {
  top: 50%;
  margin-top: -2000px;
  margin-right: -3658px;
  right: 50%;
  transform: rotate(45deg);
  background: #ccc;
  transform-origin: top right;
  animation: slide_right 1s 0.5s ease;
  animation-fill-mode: forwards;
   
} */
@keyframes slide_left {
  100% {
    transform: translateX(-2000px) rotate(45deg);
  }
}
@keyframes slide_right {
  100% {
    transform: translateX(2000px) rotate(45deg);
  }
}

.hidden {
  display: none;
}

.timer * {
  cursor: default;
}

.timer--clock {
  width: 100%;
  position: relative;

  margin-top: 22px;

  display: flex;
  justify-content: center;
}

.timer--clock .clock-display-grp {
  display: flex;
  position: relative;
  padding-bottom: 70px;
}

.timer--clock .clock-display-grp .number-grp {
  width: auto;
  /* display: block; */
  height: 156px;
  /* float: left; */
  overflow: hidden;
}

.timer--clock .clock-display-grp .number-grp .number-grp-wrp {
  width: 100%;
  position: relative;
}

.timer--clock .clock-display-grp .number-grp .number-grp-wrp .num {
  width: 100%;
  position: relative;
  height: 156px;
}

.timer--clock .clock-display-grp .number-grp .number-grp-wrp .num p {
  width: auto;
  display: table;
  font-size: 205px;
  line-height: 150px;
}

.timer--clock .clock-separator {
  width: auto;
  float: left;
  display: block;
  height: 156px;
}

.timer--clock .clock-separator p {
  font-size: 205px;
  line-height: 150px;
  font-weight: bold;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 800;
  pointer-events: none;
  background: transparent;
}

.loading-screen {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
  left: 0;
  will-change: top;
}

.loading-screen,
.loading-container .rounded-div-wrap.top .rounded-div,
.loading-container .rounded-div-wrap.bottom .rounded-div {
  background: #141517;
}

.loading-container .rounded-div-wrap.top .rounded-div,
.loading-container .rounded-div-wrap.bottom .rounded-div {
  height: 745%;
}

.loading-container .rounded-div-wrap.top {
  top: 0;
  position: absolute;
  transform: translateY(-99%) scale(1, -1);
  z-index: 2;
  height: 0vh;
  will-change: height;
}

.loading-container .rounded-div-wrap.bottom {
  top: unset;
  bottom: 0;
  position: absolute;
  transform: translateY(99%);
  z-index: 2;
  height: 0vh;
  will-change: height;
}

.loading-container .loading-words {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  display: block;
  will-change: opacity;
}

.loading-container .loading-words h2 {
  margin: 0;
  padding: 0;
  color: var(--color-white);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  padding-left: 0.6em;
  white-space: nowrap;
  padding-right: 0.4em;
  will-change: opacity;
}

.loading-container .loading-words h2.active {
  display: block;
}

.loading-container .loading-words .home-active,
.loading-container .loading-words .home-active-last {
  opacity: 0;
  display: none;
}
